@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject Game GameContext

<BlazorBootstrapLayout StickyHeader="true">
    <HeaderSection>
        <div class="w-100 d-flex flex-row">
            <Button Color="ButtonColor.Link" Class="text-decoration-none" Link="@("/")">
                <h2 class="m-0 p-0">Kingdom Legacy</h2>
            </Button>
            @if (GameContext.IsInitialized)
            {
                <GameResources />
                <Button Class="m-2" Color="ButtonColor.Primary" @onclick="Save">
                    Save
                </Button>
            }
            <ThemeSwitcher Class="ps-3 ps-lg-2 my-auto" />
        </div>
    </HeaderSection>

    <ContentSection>
        @Body
    </ContentSection>

    <FooterSection>
        Source: <a href="https://www.kingdomlegacygame.com/" target="_blank">kingdomlegacygame.com</a>
    </FooterSection>
</BlazorBootstrapLayout>

@code {
    protected override void OnInitialized()
    {
        GameContext.Subscribe(_ => StateHasChanged());
        base.OnInitialized();
    }

    private async Task Save()
    {
        var text = GameContext.Save();

        using var stream = new MemoryStream(Encoding.Default.GetBytes(text));
        using var streamRef = new DotNetStreamReference(stream);

        await JS.InvokeVoidAsync("downloadFileFromStream", "KingdomLegacy.save", streamRef);
    }
}