<Button Class="@Class" Type="Type" Color="Action.TargetState.GetButtonColor()" Position="Position" Disabled="Action.Disabled" @onclick="() => Action.Execute()">
    @Action.Text
</Button>

@code {
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Button;

    [Parameter]
    public Position Position { get; set; }

    [Parameter, EditorRequired]
    public IAction Action { get; set; }
}
