@inject IStorage Storage

<div class="d-flex flex-row">
    <div class="mx-2 d-flex lex-row">
        <NumberInput Class="my-2 p-0 coins" TValue="int" @bind-Value="Resources.Coins" />
        <NumberInput Class="my-2 p-0 wood" TValue="int" @bind-Value="Resources.Wood" />
        <NumberInput Class="my-2 p-0 stones" TValue="int" @bind-Value="Resources.Stones" />
        <NumberInput Class="my-2 p-0 steel" TValue="int" @bind-Value="Resources.Steel" />
        <NumberInput Class="my-2 p-0 goods" TValue="int" @bind-Value="Resources.Goods" />
        <NumberInput Class="my-2 p-0 swords" TValue="int" @bind-Value="Resources.Swords" />
        <NumberInput Class="my-2 p-0 points" TValue="int" @bind-Value="Resources.Points" />
    </div>

    @foreach (var action in Game.Actions.GetMainActions(Resources, Storage))
    {
        <ActionButton Class="m-2" Position="Position.Relative" Action="action" />
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Lobby Lobby { get; set; }
    private Game Game => Lobby.Game;
    private Resources Resources => Lobby.Resources;
}