@page "/"

@implements IDisposable

@inject Lobby Lobby
@inject IStorage Storage

<PageTitle>Kingdom Legacy</PageTitle>

@if (Lobby.Stage == LobbyStage.Play)
{
    <LobbyPlay Lobby="Lobby" />
}
else
{
    <div class="mx-auto px-8" style="width: 1296px;">
        @if (Lobby.Stage == LobbyStage.AcceptCookies)
        {
            <LobbyAcceptCookies Lobby="Lobby" />
        }
        else if (Lobby.Stage == LobbyStage.ConfirmGameOwner)
        {
            <LobbyConfirmGameOwner Lobby="Lobby" />
        }
        else if (Lobby.Stage == LobbyStage.ChooseGame)
        {
            <LobbyChooseGame Lobby="Lobby" />
        }
        else if (Lobby.Stage == LobbyStage.LoadGame)
        {
            <LobbyLoadGame Lobby="Lobby" />
        }
        else if (Lobby.Stage == LobbyStage.NewGame)
        {
            <LobbyNewGame Lobby="Lobby" />
        }
        <Readme />
    </div>
}

@code {
    private Game Game => Lobby.Game;
    private IDisposable? _subscription;

    public void Dispose() =>
        _subscription?.Dispose();

    protected override async Task OnInitializedAsync()
    {
        _subscription = Lobby.Subscribe(_ => StateHasChanged());

        await Lobby.Initialize();

        await base.OnInitializedAsync();
    }
}
