@page "/"

@implements IDisposable

@inject Lobby Lobby
@inject IStorage Storage

<PageTitle>Kingdom Legacy</PageTitle>

@if (Lobby.Stage == LobbyStage.Play)
{
    <LobbyPlay />
}
else
{
    <div class="mx-auto px-8" style="width: 1296px;">
        @if (Lobby.Stage == LobbyStage.AcceptCookies)
        {
            <LobbyAcceptCookies />
        }
        else if (Lobby.Stage == LobbyStage.ConfirmGameOwner)
        {
            <LobbyConfirmGameOwner />
        }
        else if (Lobby.Stage == LobbyStage.ChooseGame)
        {
            <LobbyChooseGame />
        }
        else if (Lobby.Stage == LobbyStage.LoadGame)
        {
            <LobbyLoadGame />
        }
        else if (Lobby.Stage == LobbyStage.NewGame)
        {
            <LobbyNewGame />
        }
        <Readme />
    </div>
}

@code {
    private bool _showDeck;
    private bool _showTrashed;

    private Game Game => Lobby.Game;
    private IDisposable? _subscription;

    public void Dispose() =>
        _subscription?.Dispose();

    protected override async Task OnInitializedAsync()
    {
        _subscription = Lobby.Subscribe(_ => StateHasChanged());

        await Lobby.Initialize();

        await base.OnInitializedAsync();
    }
}
