@inherits LayoutComponentBase
@implements IDisposable

@inject IStorage Storage
@inject IJSRuntime JS
@inject Lobby Lobby

<BlazorBootstrapLayout StickyHeader="true">
    <HeaderSection>
        <div class="w-100 d-flex flex-row">
            <h2 class="me-2 my-auto">@(string.IsNullOrEmpty(Game.KingdomName) ? "Kingdom Legacy" : Game.KingdomName)</h2>
            @if (Lobby.Stage == LobbyStage.Play)
            {
                <GameResources />
                <Button Class="m-2" Color="ButtonColor.Warning" @onclick="Download">
                    Download
                </Button>
                <Button Class="m-2" Color="ButtonColor.Danger" @onclick="Exit">
                    Exit
                </Button>
            }
            <ThemeSwitcher Class="ps-3 ps-lg-2 my-auto" />
        </div>
    </HeaderSection>

    <ContentSection>
        @Body
    </ContentSection>

    <FooterSection>
        Source: <a href="https://www.kingdomlegacygame.com/" target="_blank">kingdomlegacygame.com</a>
    </FooterSection>
</BlazorBootstrapLayout>

@code {
    private Game Game => Lobby.Game;
    private IDisposable? _subscription;

    public void Dispose() =>
        _subscription?.Dispose();

    protected override void OnInitialized()
    {
        _subscription = Lobby.Subscribe(_ => StateHasChanged());
        base.OnInitialized();
    }

    private async Task Download()
    {
        await Storage.SaveGame(Game);
        var data = Storage.GameData;
        if (string.IsNullOrEmpty(data))
            return;

        using var stream = new MemoryStream(Encoding.Default.GetBytes(data));
        using var streamRef = new DotNetStreamReference(stream);

        await JS.InvokeVoidAsync("downloadFileFromStream", $"{Game.KingdomName}.save", streamRef);
    }

    private async Task Exit()
    {
        await Storage.SaveGame(Game);

        Lobby.ChooseGame();
    }
}