@inherits LayoutComponentBase

@inject ILocalStorageService Storage
@inject IJSRuntime JS
@inject Game GameContext
@inject SavedGameData SavedGame

<BlazorBootstrapLayout StickyHeader="true">
    <HeaderSection>
        <div class="w-100 d-flex flex-row">
            <h2 class="me-2 my-auto">@(string.IsNullOrEmpty(GameContext.KingdomName) ? "Kingdom Legacy" : GameContext.KingdomName)</h2>
            @if (GameContext.IsInitialized)
            {
                <GameResources />
                <Button Class="m-2" Color="ButtonColor.Primary" @onclick="Save">
                    Save
                </Button>
                <Button Class="m-2" Color="ButtonColor.Warning" @onclick="Download">
                    Download
                </Button>
                <Button Class="m-2" Color="ButtonColor.Danger" @onclick="Exit">
                    Exit
                </Button>
            }
            <ThemeSwitcher Class="ps-3 ps-lg-2 my-auto" />
        </div>
    </HeaderSection>

    <ContentSection>
        @Body
    </ContentSection>

    <FooterSection>
        Source: <a href="https://www.kingdomlegacygame.com/" target="_blank">kingdomlegacygame.com</a>
    </FooterSection>
</BlazorBootstrapLayout>

@code {
    protected override void OnInitialized()
    {
        GameContext.Subscribe(_ => StateHasChanged());
        base.OnInitialized();
    }

    private async Task<string> Save()
    {
        var text = GameContext.Save();

        await Storage.SetItemAsync("save", text);

        return text;
    }

    private async Task Download()
    {
        var text = GameContext.Save();

        using var stream = new MemoryStream(Encoding.Default.GetBytes(text));
        using var streamRef = new DotNetStreamReference(stream);

        await JS.InvokeVoidAsync("downloadFileFromStream", $"{GameContext.KingdomName}.save", streamRef);

        await Storage.SetItemAsync("save", text);
    }

    private async Task Exit()
    {
        var text = await Save();

        await SavedGame.Update(text);

        GameContext.Clear();
    }
}