@page "/game"

<PageTitle>Kingdom Legacy</PageTitle>

@if (GameContext == null)
{
    <p>Loading...</p>
}
else
{
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="pe-2" id="deck">
            <Button class="m-0 p-0 to-hover" Type="ButtonType.Button" Position="Position.Relative" @onclick="Draw">
                <GameCard CardContext="@GameContext.DeckTop" />
                <div class="w-100 h-100 position-absolute top-0 start-0" style="background-color: #404040A0;"></div>
                <Badge Color="BadgeColor.Info"
                       Position="Position.Absolute"
                       Placement="BadgePlacement.MiddleCenter"
                       IndicatorType="BadgeIndicatorType.RoundedPill"
                       VisuallyHiddenText="count"
                       Class="to-show">@GameContext.DeckCount</Badge>
            </Button>
        </div>
        @foreach (var card in GameContext.Hand)
        {
            <Button class="m-0 p-0" Type="ButtonType.Button" Position="Position.Relative" @onclick="() => GameContext?.Discard(card)">
                <GameCard CardContext="@card" />
                <Badge Color="BadgeColor.Danger"
                       Position="Position.Absolute"
                       Placement="BadgePlacement.MiddleCenter"
                       IndicatorType="BadgeIndicatorType.RoundedPill"
                       VisuallyHiddenText="trash"
                       Class="to-show" @onclick="() => GameContext?.Trash(card)">x</Badge>
            </Button>
        }
        @foreach (var card in GameContext.InPlay)
        {
            <Button class="m-0 p-0" Type="ButtonType.Button" Position="Position.Relative" @onclick="() => GameContext?.Discard(card)">
                <GameCard CardContext="@card" />
                <Badge Color="BadgeColor.Danger"
                       Position="Position.Absolute"
                       Placement="BadgePlacement.MiddleCenter"
                       IndicatorType="BadgeIndicatorType.RoundedPill"
                       VisuallyHiddenText="trash"
                       Class="to-show" @onclick="() => GameContext?.Trash(card)">x</Badge>
            </Button>
        }
    </div>
}

@code {
    [Parameter]
    public KingdomLegacy.Domain.Game? GameContext { get; set; }

    override protected void OnInitialized()
    {
        if (GameContext == null)
        {
            GameContext = new KingdomLegacy.Domain.Game();
            GameContext.Initialize(Expansions.FeudalKingdom);
        }
    }

    private void Draw(MouseEventArgs args)
    {
        GameContext?.Draw();
    }
}