@page "/load"

<PageTitle>Kingdom Legacy</PageTitle>

<div class="d-flex flex-column bd-highlight mb-3">
    <Button class="m-2" Type="ButtonType.Button" Color="ButtonColor.Primary">Load game</Button>
</div>