@if (CardContext != null)
{
    <Image Src="@("/cards/" + CardContext.Path)" Alt="@CardContext.Id.ToString()" Class="@CardClass" />
}
else
{
    <div class="text-center pt-4 card">Empty</div>
}

@code {
    [Parameter]
    public KingdomLegacy.Domain.Card? CardContext { get; set; }

    public string CardClass => $"card{(CardContext?.Orientation == Domain.Orientation.L2 || CardContext?.Orientation == Domain.Orientation.L3 ? " rotate-180" : "")}";
}
